@charset "UTF-8";
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
/* 데이터 유효성 체크 */
input:focus{
	outline: none;
}
input{
	padding: 10px;
}
.guide{
	display: none;
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 0;
}
.ok{
	color: #14aaff;
}
.error{
	color: #FF577F;
}
/* 로그인 */
body{ /* 전체 */
    margin: 0;
    overflow-x: hidden;
}
html,body{
	 height: 100% !important;
}
.row{ /* 부트스트랩 관련 */
	height: 100% !important;
}
form{
	 height: 100% !important;
}
#login-img{ /* 로그인 화면 이미지 */
    background-image: url(../img/member/kindle.jpg);
    background-attachment: fixed;
    background-size: cover;
    float: left;
    overflow: hidden;
}
#login-area{ /* 로그인 입력 폼 영역 */
    text-align: center;
    margin-top: 80px;
}
#login-hl{ /* 로그인 제목 */
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 50px;
}
.login-inputs{ /* 로그인 모든 입력 칸 */
    height: 50px;
    width: 80%;
    border-color: lightgray;
    border-style: solid;
    border-radius: 4px;
    border-width: 0.5px;
}
#login-id{ /* 로그인 아이디 입력 칸 */
    margin-bottom: 10px;
}
#login-pw{ /* 로그인 비밀번호 입력 칸 */
    margin-bottom: 16px;
}
#login-btn{ /* 로그인 버튼 */
    background-color: #ffeb60;
    border: 0;
    width: 81%;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 4px;
}
#login-others{ /* 아이디 찾기 등 */
    margin-bottom: 30px;
    color: gray;
    font-size: 16px;
}
#login-others a{ 
    text-decoration: none;
    color: gray;
}
#login-hr{ /* 로그인 구분 선 */
    width: 80%;
    padding-bottom: 20px;
    margin: 0 auto;
}
#login-social img{ /* 소셜 로그인 이미지 */
    width: 40px;
    height: 40px;
}
#naver-icon{
    margin-right: 10px;
}
@media (max-width: 500px){
    #login-img{
        display: none;
    }
    #login-area{
        width: 100%;
        height: 100%;
    }
    /* 회원가입 */
    #join-area{
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 1000px){
    #login-area{
        width: 100%;
        height: 100%;
    }
    #findId-area{
        width: 100%;
        height: 100%;
    }
    #idresult-area{
        width: 100%;
        height: 100%;
    }
}

/* 회원가입 */
#pn-logo img{ /* 땅콩북스 로고 이미지 */
    width: 200px;
    height: auto;
}
#pn-logo{ /* 땅콩북스 로고 영역 */
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}
#join-area{ /* 회원가입 폼 영역 */
    float: left;
}
#input-area{ /* 회원가입 입력 폼 영역 */
    width: 80%;
    margin: 0 auto;
}
#input-area label{
	margin-top: 8px;
}
.join-inputs{ /* 회원가입 입력 칸 */
    height: 50px;
    width: 100%;
    border-color: lightgray;
    border-style: solid;
    border-radius: 4px;
    border-width: 0.5px;
    margin-top: 8px;
}
/* .join-btn{
	display: none;
} */
#join-btn{ /* 회원가입 버튼(활성) */
    background-color: #ffeb60;
    border: 0;
    width: 100%;
    height: 50px;
    margin-top: 16px;
    border-radius: 4px;
}
/* button:disabled{ 비활성 버튼
	background-color: #f3f3f3;
	color: #b3b3b3;
    border: 0;
    width: 100%;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-weight: bold;
} */
@media (max-width: 1100px){
    #join-area{
        width: 100%;
        height: 100%;
    }
}

/* 회원가입 인증 메일 발송 후 */
#msg-area{ /* 사진을 제외한 부분 */
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}
#msg-area input{
	width: 100%;
}
#email-authKey{
	height: 40px;
	border: 0.5px solid lightgray;
	border-radius: 4px;
}

/* 아이디 찾기 */
#findId-hl{ /* 아이디 찾기 제목 */
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
}
#findId-area{ /* 아이디 찾기 폼 영역 전체*/
    margin-top: 80px;
}
#input-area{ /* 이메일 입력 영역(레이블까지) */
    position: relative;
}
#email-btn{ /* 인증 요청 버튼 */
    position: absolute;
    margin: 0 auto;
    right: 10px;
    top: 50px;
    bottom: 0;
    height: 30px;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    width: 70px;
}
#email-input{ /* 이메일 입력 칸 */
    height: 50px;
    width: 100%;
    border-color: lightgray;
    border-style: solid;
    border-radius: 4px;
    border-width: 0.5px;
    margin-top: 8px;
}
#findId-authKey{ /* 인증 키 입력 칸 div */
	display: none;
}
#authKey-input{ /* 인증 키 입력 칸 */
	height: 50px;
	width: 100%;
	border: 0.5px solid lightgray;
	border-radius: 4px;
	margin-top: 8px;
}
#findId-btn{ /* 아이디 찾기 버튼 */
	background-color: #ffeb60;
    border: 0;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    margin-top: 16px;
}
#idresult-msg{
	padding-top: 10px;
}

/* 아이디 찾기 결과 */
#idresult{ /* 아이디 출력 영역 */
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    display: table;
    margin-bottom: 50px;
}
#idresult p{ /* 아이디 값 */
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
}
#idresult-area{ /* 아이디 결과 영역 전체 */
    margin-top: 80px;
    text-align: center;
}
#idresult-area a{ /* 비밀번호 재설정으로 */
    text-decoration: none;
}

/* 비밀번호 재설정 */
.newpw-inputs{ /* 비밀번호 입력 칸 */
    height: 50px;
    width: 100%;
    border-color: lightgray;
    border-style: solid;
    border-radius: 4px;
    border-width: 0.5px;
    margin-top: 8px;
}
#newpw-area{ /* 비밀번호 재설정 영역 전체 */
    margin-top: 80px;
}
#newpw-input{ /* 레이블까지 비밀번호 입력 영역만 */
    width: 80%;
    margin: 0 auto;
}
#submit-btn{ /* 확인 버튼 */
    background-color: #ffeb60;
    border: 0;
    width: 100%;
    height: 50px;
    margin-top: 16px;
    border-radius: 4px;
}

/* 내 정보 관리 */
.info-header{ /* 내 정보 관리 고정 바 영역 */
	border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    text-align: center;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    position: fixed;
    width: 100%;
    background-color: white;
}
.menu-area{ /* 고정 바 아래 메뉴 영역 전체 */
    width: 700px;
    margin: 0 auto;
    padding-top: 44px;
    padding-left: 0px;
	padding-left: 16px;
    padding-right: 16px;
}
.info-menu{ /* 메뉴 영역 하나 */
	padding: 24px 16px 24px 16px;
	border-bottom: solid 1px lightgray;
}
.menu-item{ /* 메뉴 글자, 화살표 */
    display: inline-block;
}
.arrow{ /* 메뉴 화살표*/
    float: right;
}

/* 내 정보 - 비밀번호 확인 */
.circle-area{ /* 자물쇠 아이콘 동그라미 영역 */
	border-radius: 30px;
	background-color: #ffeb60;
	width: 50px;
	height: 50px;
	line-height: 45px;
	margin: 0 auto;
}
.circle-area img{ /* 자물쇠 아이콘 그 자체 */
	width: 30px;
	height: 30px;
}
.msg-area{ /* 아이콘 + 안내 메시지 영역*/
	background-color: #fafaf6;
	padding-top: 80px;
	text-align: center;
	margin-bottom: 25px;
}
.msg-area p{ /* 안내 메시지 그 자체 */
	padding-top: 10px;
	padding-bottom: 36px;
	color: #6f6f6f;
}
.pw-input-area{ /* 비밀번호 입력 영역 */
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 56px;
	margin: 0 auto;
	width: 700px;
}
#pwChk-pw{ /* 비밀번호 입력 칸 */
	width: 100%;
	height: 40px;
	margin-top: 8px;
	border: solid 1px #ccc;
	border-radius: 4px;
}
.pwChk-btn{ /* 비번 입력 후 확인 버튼 */
	background-color: #ffeb60;
    border: 0;
    width: 100%;
    height: 45px;
    border-radius: 4px;
    margin-top: 20px;
}

/* 회원 정보 수정 */
.modify-area{
	padding-top: 80px;
	width: 700px;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 56px;
}
.modify-area input{
	height: 40px;
	border-color: lightgray;
    border-style: solid;
    border-radius: 4px;
    border-width: 0.5px;
}
#modify-nick{
	width: 100%;
}
#modify-pw{
	width: 80%;
}
.modify-pw-btn{
	width: 18%;
	background-color: #ffeb60;
    border: 0;
    border-radius: 4px;
    height: 40px;
    margin-left:8px;
    font-size: 14px;
}
.modify-btn{
	width: 100%;
	background-color: #ffeb60;
    border: 0;
    height: 45px;
    border-radius: 4px;
   	margin-top: 15px;
}
#modify-newPw{
	width: 100%;
	margin-bottom: 25px;
}
#modify-newPwChk{
	width: 100%;
}
#modify-pw2{
	width: 100%;
	margin-bottom: 25px;
}
#div-nick{
	padding-bottom: 25px;
}
#div-pw{
	padding-top: 20px;
	padding-bottom:20px;
	border-top: 1px solid #ccc;
}
#div-newPw{
	padding-top: 20px;
	padding-bottom:20px;
	border-top: 1px solid #ccc;
	display: none;
}

/* 회원탈퇴 */
.delete-div-bottom{
	padding-top: 80px;
	width: 700px;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 56px;
}
.div-square{
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 24px 16px;
}
.div-square p{
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 16px;
	border-bottom: 1px solid #ccc;
}
.div-square ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.div-square li{
	margin-top: 12px;
}
#delete-check{
	margin-right: 5px;
}
.div-check{
	margin-top: 24px;
	border-top: 1px solid #ccc;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
.div-check p{
	color: #FF577F;
}
.div-pw input{
	width: 100%;
	height: 40px;
}
#delete-pw1{
	margin-bottom: 10px;
}
#delete-pw2{
	margin-bottom: 24px;
}
.div-btn{
	text-align: center;
}
.div-btn button{
	color: white;
	background-color: #FF577F;
	border: none;
	border-radius: 4px;
	height: 40px;
	width: 90px;
}