@charset "UTF-8";
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
input:focus{
	outline: none;
}
.news-header{
	border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    text-align: center;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    position: fixed;
    width: 100%;
    background-color: white;
    font-size: 18px;
}
.news-area{
	width: 1000px;
	padding: 44px 16px 56px 16px;
	margin: 0 auto;
}
.news-contents-area{
	padding: 24px 16px 24px 16px;
	border-bottom: 1px solid #ccc;
}
.news-contents{
	font-size: 16px;
}
.news-contents a:visited{
	color: #c1c1c1 !important;
}
.delete-icon{
	float: right;
}
.delete-icon img{
	width: 16px;
	height: 16px;
}
.news-msg{
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	color: #c1c1c1;
}
@media (max-width: 500px){
    .news-area{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	main{
    	padding-top: 4rem;
	}
}