@media (max-width: 500px) {
	.main_title{
		width: 100%;
	}
	.sub_menu{
		width: 100%;
	}
    .board_wrap {
        width: 100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .category_list{
    	display: flex;
    	flex-wrap : wrap; 
    	
    }

    .board_list .num,
    .board_list .date,
    .board_list .status {
        display: none;
    }

	.board_list .writer {
        width: 40%;
    }
    .board_list .title {
        width: 30%;
    }
    .board_list .mpoint {
        width: 30%;
    }

    .board_list .title {
        text-indent: 10px;
    }

    .board_list .top .title {
        text-indent: 0;
    }

   
}

@media (max-width: 768px) {
	.board_wrap {
        width: 100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing: border-box;
    }
}