@charset "UTF-8";
  /* The switch - the box around the slider */\
  body{
  	
    width: 1000px; 
    height: 1000px; 
  }

  /* 해더 */
#headTwo{
	padding-left:20px;
	maggin-left:20px;
    width: 1000px;
    float: right;
    text-align: right;
    border-radius: 5px;
}

#headTwo button{
    border : 0px;
    background-color: white;

}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}


#rowbody{
  width:1200px;
  margin-left: 30px;
  margin-right: 0px;
  height: 500px;
}
    /* 제목 */
#pagename{
    width: 100%;
    height: 80px;    
    font-size: 30px;
    font-weight: bold ;
    color: rgb(7, 12, 43);
    margin: 10px;    
    justify-content: center;
    overFlow-y: auto; 
}

span{
  display: inline;
  font-size: 20px;
  font-weight: bold;  
  margin-left: 10px;
  
}
table{
  width: 700px;
  margin-left: 20px; 
}
tdody>td{
  border-bottom: 1px solid;
  border-top: 1px solid;
 
}


/* 페이징  */
.page_wrap{
	padding-top:1rem;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pagination > a,
.pagination > span {
    background-color: #fff;
    color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 5px 8px;
    border-radius: 5px;
    min-width: 20px;
    padding: 0 10px;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}
.pagination > span {
    pointer-events: none;
}
.pagination svg {
    height: 24px;
    width: 24px;
}
.pagination > a.page-active:hover {
    background-color: #FFD384;
    color: #fff;
}
.pagination > a:hover {
    background-color: #FFD384;
    color: #fff;
}
