@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
body{
	width: 450px;
	height: 630px;	    
}

.header{
	width:100%;
	height: 15%;
    padding: 10px;
    margin-bottom: 10px;
	border-bottom: 3px solid gainsboro;	
	display: flex;    
}
#nickName{
    font-size: 20px;
    font-weight: bold;    
}
.btn{
    margin-left: auto;
    padding-right:10px;          
    width:20%;
    height: 80%; 
    font-family: 'Jua', sans-serif;   
}

#chatfinish{
    width: 90px;
    height: 90px;     
    font-size: 1.3em;
    font-family: 'Jua', sans-serif;
    margin-bottom: 20px;          
    background-color:  rgb(255, 211, 132);
    border-color: rgb(255, 211, 132);   
    border-radius: 0.8em;

}
.InputText{	
	margin:0px;
	padding:0px;
	width:80%;
	height: 100%;
}
/* 본문부분 */
.context{
	width:104%;
	height: 60%;
	overFlow-y: auto; 
    display: flex;
    flex-direction: column-reverse;
    
}
/* 하단 입력부분 */
.footer{
	width:100%;
	height: 15%;
    padding: 10px;	
	display: flex;
}

 #magText {    
 	width:95%;
	height: 3rem;
	align-content: center;
    font-size: 14px;
    border-radius: 2ex;    
    text-overflow: clip;
    padding-left: 20px;
    padding-top: 20px;
 }
 #getResult{    
    width: 100%;
    height: 4rem;     
    font-size:1em;    
    font-family: 'Jua', sans-serif;
    margin-top: 3px; 
    margin-left: 20px;          
    background: rgb(255, 211, 132);
    border-color:rgb(255, 211, 132);
    border-radius: 0.8em;
 }

 /*채팅내용   */

    .after{   
        display: flex; 
        justify-content: flex-start;                     
    }

    .right{
        text-align: right;
        margin-right: auto;
        justify-content: flex-and;
        margin: 5px;        
        top : 2cm;
        right: 0.2cm;
        font-size: 0.8em;        
    };

   .left{         
        text-align: left;          
        justify-content: flex-start;
        font-size: 0.8em;        
    }
    
    .contextBox{
        margin: px;
        padding: 5px;
        border-radius: 1ex;
        background-color: #fdf7b3;
        font-size: 1.3em;
        font-family: 'Jua', sans-serif;
    }
    .dateBox{
        font-size: 0.3em;
    }
    h5{
        margin: 0;
        padding-bottom: 5px;
    }       
