@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
body{
	width: 450px;
	height: 600px;	 
    font-family: 'Jua', sans-serif;      
}
a {
    text-decoration: none;
    font-size:5px;
}
.header{
	width:100%;
	height: 15%;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
	border-bottom: 3px solid gainsboro;	
	display: flex; 
    background-color: #FF577F;
}
#nickName{
    font-size: 20px;      
}
.btn{
    margin-left: auto;
    padding-right:10px;          
    width:20%;
    height: 80%; 
    font-family: 'Jua', sans-serif;   
}

#chatfinish{
    width: 90px;
    height: 90px;     
    font-size: 1.3em;    
    font-family: 'Jua', sans-serif;
    margin-bottom: 20px;          
    background-color: #fff;
    border: 0;  
    border-radius: 1em;

}
.InputText{	
	margin:0px;
	padding:0px;
	width:80%;
	height: 100%;
}
/* 본문부분 */
.context{
	width:104%;
	height: 60%;
	overFlow-y: auto; 
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    padding:0;
    margin:0;
    box-sizing: border-box; 
    
}
/* 하단 입력부분 */
.footer{
	width:100%;
	height: 15%;
    padding: 10px;	
	display: flex;
}

 #magText {    
 	width:95%;
	height: 3rem;
	align-content: center;
    font-size: 15px;
    border-radius: 2ex;    
    text-overflow: clip;
    padding-left: 20px;
    padding-top: 20px;
 }
 #getResult{    
    width: 100%;
    height: 4rem; 
    color: #fff;    
    font-size:1em;
    font-family: 'Jua', sans-serif; 
    margin-left: 20px;          
    background-color: #FF577F;
    border: 0;
    border-radius: 0.5em;
 }

 /*채팅내용   */

    #after{   
        padding:5px 0;                    
        width: 450px;       
       	
    }
    #after .chat{
        display: flex;
        align-items: flex-start;  
        padding:5px;     
    }
    #after .chat div{
        padding-bottom: 0;     
    }
    #after .chat .icon{        
        position: relative;
        overflow: hidden;         
        width: 40px;
        height: 40px;
        border-radius: 1rem;     
    }
    #after .chat .icon img{
        position: absolute;
        top:10px;
        left:50%; 
        width: 30px; 
        height: 30px;              
        font-size: 2.5rem;        
        transform:translateX(-50%);
    }
    .contextBox{
        position: relative;
        display:inline-block;
        max-width:calc(100%-70px);
        margin-top:7px;
        padding: 10px;
        border-radius: 1ex;
        font-family: 'Jua', sans-serif;
        }

    .contextBox::before{
        position:absolute;
        display:block;
        max-width:calc(100%-70px);
        top:0px;
        padding: 5px;
        font-size: 1.5rem;
        }
    #after .left .contextBox{
        margin-left: 20px;
        background-color: lightgrey;
        color:#fff;
    }
    #after .left .contextBox::before{
        left: -20px;
        content: "◀";
        color: lightgrey;
    }
    #after .right{
        flex-direction: row-reverse;
    }
    #after .right .contextBox{
        margin-right:20px;
        background-color: #FF577F;
        color:#fff;
    }
    #after .right .contextBox::before{
        right: -20px;
        content: "▶";
        color: #FF577F;
    }        
    .dateBox{      
        vertical-align: bottom;
        font-size: 0.3em; 
       
    }
        
