<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="BookApproveMapper">
 	<!-- 도서 승인 -->
 	<resultMap type="BookApprove" id="BookApproveResultMap">
 		<id column="APPROVE_NO"         property="approveNo" />
 		<result column="ORI_BOOK_NO"    property="oriBookNo" />
 		<result column="APPROVE"        property="approve" />
 		<result column="APPROVE_DATE"   property="approveDate" />
 		<result column="APPROVE_UPDATE" property="approveUpdate" />
 		<result column="REAPPROVE"      property="reApprove" />
 		<result column="BOOK_SERIES_NO" property="bookSeriesNo" />
 	</resultMap>
 	
 	<!-- Books: 도서물의 제목, 표지, 책소개 테이블 명 origin_book-->
 	<resultMap type="OriginBook" id="oriBookResultMap">
		<id property="bookNo"  column="ORI_BOOK_NO"/>
		<result property="bookTitle" column="BOOK_TITLE"/>
		<result property="bookInfo" column="BOOK_INFO"/>
		<result property="category" column="CATEGORY"/>
		<result property="insertDate" column="INSERT_DATE"/>
		<result property="cover" column="CORVER"/>
		<result property="coverRename" column="CORVER_RENAME"/>
		<result property="status" column="STATUS"/>
		<result property="score" column="SCORE"/>
		<result property="viewCount" column="VIEW_COUNT"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="checkPermission" column="BOOK_PERMISSION"/>
		<result property="scoreCount" column="SCORE_COUNT"/>            <!--  별점 준 사람명수 - 별점평균 뽑을때 -->
	</resultMap>

	
	<select id="selectAllBooks" resultMap="oriBookResultMap">
		SELECT * FROM origin_book ORDER BY ORI_BOOK_NO DESC
	</select>
	
	<!-- Origin: 도서물 테이블 -->
	<resultMap type="OriginBookSeries" id="oriSeriesResultMap">
		<id property="seriesNo" column="SERIES_NO"/>
		<result property="bookNo" column="ORI_BOOK_NO"/>
		<result property="subPic" column="SUB_PIC"/>
		<result property="subPicRename" column="SUB_PIC_RE"/>
		<result property="title" column="TITLE"/>
		<result property="contents" column="CONTENTS"/>
		<result property="modifyContents" column="MODIFY_CONTENTS"/>
		<result property="insertDate" column="INSERT_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="paidCount" column="PAID_COUNT"/>
		<result property="paidCheck" column="PAID_CHECK"/>
		<result property="viewCount" column="VIEW_COUNT"/>
		<result property="checkPermission" column="CHECK_PERMISSION"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<!-- MODIFY_ORI_SERIES: 도서물 테이블 -->
	<resultMap type="ModifyBookSeries" id="modifySeriesResultMap">
		<id property="seriesNo" column="SERIES_NO"/>
		<result property="bookNo" column="ORI_BOOK_NO"/>
		<result property="subPic" column="SUB_PIC"/>
		<result property="subPicRename" column="SUB_PIC_RE"/>
		<result property="title" column="TITLE"/>
		<result property="modifyContents" column="MODIFY_CONTENTS"/>
		<result property="insertDate" column="INSERT_DATE"/>
		<result property="paidCheck" column="PAID_CHECK"/>
	</resultMap>
 	
 	<!-- 회원이 작성한 피넛 오리지널 시리즈의 숫자 가져오기 -->
	<select id="selectAllOriSeries" resultType="_int">
		select count(*) from ori_series join origin_book using(ori_book_no) order by ORI_BOOK_NO
	</select>
	
	<!-- 회원이 작성한 시리즈 전부 가져오기 -->
	<select id="selectAllMemberSeriese" resultMap="oriSeriesResultMap">
		select * from ori_series join origin_book using(ori_book_no) order by SERIES_NO ASC
	</select>
	
	<!-- 승인/보류 리스트 갯수 가져오기 -->
	<select id="selectCheckPermission" resultType="_int">
		select count(*) from ori_series join origin_book using(ori_book_no) where CHECK_PERMISSION=#{checkPermission}
	</select>
	<!-- 승인/보류 리스트 가져오기 -->
	<select id="selectCheckPermissionList" resultMap="oriSeriesResultMap">
		select * from ori_series join origin_book using(ori_book_no) where CHECK_PERMISSION=#{checkPermission} order by SERIES_NO ASC
	</select>
	<!--  재승인 리스트 갯수 가져오기 -->
	<select id="selectAllReAppCount" resultType="_int">
		SELECT COUNT(*) FROM MODIFY_ORI_SERIES 
	</select>
	<!-- 재승인 리스트 가져오기  -->
	<select id="selectAllReAppList" resultMap="modifySeriesResultMap">
		SELECT * FROM MODIFY_ORI_SERIES 
	</select>
	
	<!-- 도서 제목 가져오기 -->
	<select id="selectBookTitle" resultType="string">
		select BOOK_TITLE from origin_book where ORI_BOOK_NO = #{bookNo}
	</select>

	<update id="updateApproveBooks">
			UPDATE BOOK_PERMISSION SET approve='Y', APPROVE_DATE = sysdate WHERE ORI_BOOK_NO = #{bookNo} and book_series_no = #{seriesNo}
	</update>
	
	<update id="updateOriBookApprove">
		Update origin_book set BOOK_PERMISSION = 'Y' where ori_book_no = #{bookNo}
	</update>
	<update id="updateOriBookSeiresApprove">
		Update ori_series set CHECK_PERMISSION = 'Y' where ori_book_no = #{bookNo} and series_no = #{seriesNo}
	</update>
 	
 	<!-- admin 회원관리 -->
 	<resultMap type="Member" id="memberResultMap">
		<id property="memberId" column="MEMBER_ID"/> <!-- 회원 아이디 -->
		<result property="memberPw" column="MEMBER_PW"/> <!-- 회원 비밀번호 -->
		<result property="mNickname" column="M_NICKNAME"/> <!-- 회원 별명 -->
		<result property="mEmail" column="M_EMAIL"/> <!-- 회원 이메일 -->
		<result property="emailYN" column="EMAIL_YN"/> <!-- 이메일 인증 여부 -->
		<result property="joinDate" column="JOIN_DATE"/> <!-- 회원 등록일 -->
		<result property="deleteYN" column="DELETE_YN"/> <!-- 회원 탈퇴 여부 -->
		<result property="mPoint" column="M_POINT"/> <!-- 회원 포인트(땅콩) -->
		<result property="subYN" column="SUB_YN"/> <!-- 월 구독 여부 -->
		<result property="naverId" column="NAVER_ID"/> <!-- 네이버 아이디 -->
		<result property="kakaoId" column="KAKAO_ID"/> <!-- 카카오 아이디 -->
		<result property="accType" column="ACC_TYPE"/> <!-- 계정 종류(일반/네이버/카카오) -->
		<result property="adminYN" column="ADMIN_YN"/> <!-- 관리자 여부 -->
		<result property="authKey" column="AUTH_KEY"/> <!-- 이메일 인증 키(난수) -->
	</resultMap>
	<!-- 전체회원수 구하기(페이징을 위해) -->
 	<select id="selectAllMemberCount" resultType="_int">
 		SELECT COUNT(*) FROM MEMBER_TBL
 	</select>
 	<!-- 전체회원 출력 -->
 	<select id="selectAllMembers" resultMap="memberResultMap">
 		SELECT * FROM MEMBER_TBL ORDER BY JOIN_DATE DESC
 	</select>
 	<!-- 회원상세보기 -->
 	<select id="selectOneById" resultMap="memberResultMap">
 		SELECT * FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId}
 	</select>
 	<!-- 회원삭제 -->
 	<delete id="deleteOneById">
 		DELETE FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId}
 	</delete>
 </mapper>