<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookReplyMapper">

<!-- 피넛 오리지널 리플 쓰기 -->
	<insert id="insertOriBookReply">
	insert into origin_reply values(seq_orireplyno.nextval, #{bookNo}, #{memberId}, #{reContents}, default)
	</insert>
	
	<!-- 피넛 오리지널 삭제했다고 내용 변경하기 -->
	<update id="UpdateRemoveOriReply">
	update origin_reply set RE_CONTETNS = '이 댓글은 삭제되었습니다', MEMBERID = '' where REPLY_NO= #{replyNo}
	</update>

	
	<!-- 피널 오리지널 리플 수정하기 -->
	<update id="updateOriReply">
	update origin_reply set RE_CONTETNS = #{reContents} where REPLY_NO= #{replyNo}
	</update>
	
	<!-- 피넛 오리지널 리플 삭제하기 -->
	<delete id="deleteOriReply">
	delete origin_reply where REPLY_NO= #{rNo}
	</delete>
	
	<resultMap type="OriginBookReply" id="obReplyResultMap">
	<id property="replyNo" column="REPLY_NO"/>
	<result property="bookNo" column="ORI_BOOK_NO"/>
	<result property="memberId" column="MEMBERID"/>
	<result property="reContents" column="RE_CONTETNS"/>
	<result property="insertDate" column="INSERT_DATE"/>


	</resultMap>
	
	<select id="selectAllOriReply" resultMap="obReplyResultMap">
	select * from origin_reply where ORI_BOOK_NO = #{bookNo} order by reply_No desc
	</select>
	
	<select id="countOriReply" resultType="_int">
	select count(*) from origin_reply where ORI_BOOK_NO = #{bookNo}
	</select>
	
	<select id="selectOneOriBookReply" resultType="string">
	select RE_CONTETNS from origin_reply where REPLY_NO= #{rNo}
	</select>
	
	<select id="selectOneReplyMember" resultType="string">
	select MEMBERID from origin_reply where REPLY_NO= #{rNo}
	</select>
	
	
	<!-- 리리플 영역 -->
	
	<!-- 리 리플 쓰기 -->
	<insert id="insertReReply">
	insert into re_reply values(seq_rereply.nextval, #{bookNo},#{category}, #{memberId}, #{reContens}, default,#{replyNo})
	</insert>
	
	<!-- 리리플 지우기 -->
	<delete id="deleteReReply">
	delete from re_reply where RE_REPLY_NO= #{rNo}
	</delete>
	
	<update id="updateOneRereply">
	update re_reply set RE_CONTETNS =#{reContens} where RE_REPLY_NO=#{reReplyNo}
	</update>
	
	<resultMap type="ReReply" id="reReplyResultMap">
	<id property="reReplyNo" column="RE_REPLY_NO"/>
	<result property="replyNo" column="REPLY_NO"/>
	<result property="bookNo" column="BOOK_NO"/>
	<result property="category" column="CATEGORY"/>
	<result property="memberId" column="MEMBER_ID"/>
	<result property="reContens" column="RE_CONTETNS"/>
	<result property="insertDate" column="INSERT_DATE"/>
	<result property="mNickName" column="M_NICKNAME"/>
	
	</resultMap>
	
	<select id="selectOneBookReReply" resultMap="reReplyResultMap">

	select * from re_reply join member_tbl using(member_id) where book_no =#{bookNo} and category = #{category} order by RE_REPLY_NO desc
	</select>
	<!-- 리리플 작성자 가져오기 -->
	<select id="selectReplymember" resultType="string">
	select member_id from re_reply where RE_REPLY_NO = #{rNo}
	</select>
	<!-- 리플내용 가져오기 -->
	<select id="selectOneReReply"  resultType="string">
	select RE_CONTETNS from re_reply where RE_REPLY_NO = #{rNo}
	
	</select>
	
	<select id="SelectcountReReply" resultType="_int">
	select count(RE_REPLY_NO) from re_reply where REPLY_NO = #{rNo} and CATEGORY =#{category}
	</select>
	
	
	
	<!-- 별점 주기 쿼리문 -->
	<insert id="insertScore">
	insert into star values(#{memberId},#{bookNo},#{score},#{category})
	</insert>
	
	<!-- 피넛 오리지널 별점주기 -->
	<update id="updateOriBook">
	update origin_book set score = score + #{score} , SCORE_COUNT = SCORE_COUNT + 1 where ORI_BOOK_NO = #{bookNo}
	</update>
	
	<update id="UpdateOriBookScoreMinus">
	update origin_book set score = score - #{score} , SCORE_COUNT = SCORE_COUNT - 1 where ORI_BOOK_NO = #{bookNo}
	</update>
	
	<!-- 일반도서 별점주기 -->
	<update id="updateNorBook">
	update normal_book set score = score + #{score} , SCORECOUNT = SCORECOUNT + 1 where Nor_BOOK_NO = #{bookNo}
	</update>
	<update id="UpdateNorBookScoreMinus">
	update normal_book set score = score - #{score} , SCORECOUNT = SCORECOUNT - 1 where Nor_BOOK_NO = #{bookNo}
	</update>
	
	
	<!-- 별점 삭제 쿼리문 -->
	<delete id="deleteScore">
	delete star where member_id = #{memberId} and BOOK_NO = ${bookNo} and category = #{category}
	</delete>
	
	
	<!-- 별점가져오기 -->
	<select id="selectOneScore" resultType="_int">
	select score from star where MEMBER_ID = #{memberId} and BOOK_NO = #{bookNo} and CATEGORY = #{category}
	</select>
	
	
	<resultMap type="com.books.peanut.book.domain.Star" id="starResultMap">
	<id property="memberId" column="MEMBER_ID"/>
	<result property="bookNo" column="BOOK_NO"/>
	<result property="score" column="SCORE"/>
	<result property="category" column="CATEGORY"/>
	</resultMap>
	
	<!-- 별점 정보 하나 가져오기 -->
	<select id="selectOneStar" resultMap="starResultMap">
	select * from star where MEMBER_ID = #{memberId} and BOOK_NO = #{bookNo} and CATEGORY = #{category}
	</select>
	
	<!-- 일반도서 리플  영억-->
	
	<!-- 일반도서 리플쓰기 -->
	<insert id="insertNorBookReply">
	insert into normal_reply values(seq_nor_reply.nextval, #{bookNo}, #{memberId}, #{contents}, default)
	</insert>
	<!-- 일반도서 리플 수정하기 -->
	<update id="updateNorReply">
	update normal_reply set CONTENTS = #{contents} where REPLY_NO= #{replyNo}
	</update>
	
	<!-- 일반도서 리플 삭제 -->
	<update id="deleteNorReply">
	delete normal_reply where REPLY_NO= #{rNo}
	</update>
	
	<!-- 일반도서 댓들 수정했다고 내용 변경하기 -->
	<update id="UpdateRemoveNorReply">
	update normal_reply set CONTENTS = '이 댓글은 삭제되었습니다', MEMBER_ID = '' where REPLY_NO= #{replyNo}
	</update>
	
	<resultMap type="NormalBookReply" id="norBookReplyResultMap">
	<id property="replyNo" column="REPLY_NO"/>
	<result property="bookNo" column="NOR_BOOK_NO"/>
	<result property="memberId" column="MEMBER_ID"/>
	<result property="contents" column="CONTENTS"/>
	<result property="insertDate" column="INSERT_DATE"/>
	
	</resultMap>
	
	<!-- 일반도서 리플 수 가져오기 -->
	<select id="countNorReply" resultType="_int">
	select count(*) from normal_reply where nor_book_no = #{booNo}
	</select>
	
	<!-- 일반도서 리플리스트 가져오기 -->
	<select id="selectAllnorReply" resultMap="norBookReplyResultMap">
	select * from normal_reply where NOR_BOOK_NO = #{booNo} order by reply_No desc
	</select>
	
	<!-- 일반도서 리플쓴사람 체크하기 -->
	<select id="selectOneNorReplyMember" resultType="string">
	select MEMBER_ID from normal_reply where REPLY_NO= #{replyNo}
	</select>
	
	<!-- 일반도서 리플내용 가져오기 -->
	<select id="selectOneNorBookReply" resultType="string">
	select CONTENTS from normal_reply where REPLY_NO= #{rNo}
	</select>
	
	<!-- 출석이벤트 영역 -->
	
	<!-- 첫 출석 이벤트 참여 -->
	<insert id="insertFirstAttend">
	insert into attendance values(default,null,null,null,null,#{memberId})
	</insert>
	
	<update id="udateSecondEvent">
	update attendance set second = sysdate where memberId= #{memberId}
	</update>
	
	<update id="udateThirdEvent">
	update attendance set third = sysdate where memberId= #{memberId}
	</update>
	
	<update id="udateFourthEvent">
	update attendance set fourth = sysdate where memberId= #{memberId}
	</update>
	
	<update id="udateFifthEvent">
	update attendance set fifth = sysdate where memberId= #{memberId}
	</update>
	
	<resultMap type="Attendance" id="AttendanceResultMap"></resultMap>
	
	<!-- 오늘 출석이벤트 참여여부 확인 -->
	<select id="selectTodayAttend" resultType="_int">
	select count(*) from attendance where memberId= #{memberId} and 
	(to_char(first,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')or
	 to_char(second,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') or 
	 to_char(third,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') or 
	 to_char(fourth,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') or 
	 to_char(fifth,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD'))
	</select>
	
	<!-- 출석이벤트 한적있는지 확인 -->
	<select id="selectcheckFirstAttend" resultType="_int">
	select count(*) from attendance where memberId= #{memberId}
	</select>
	
	<!-- 이벤트 참여 전부 가져오기 -->
	<select id="selectAttendEvent" resultType="_int">
	select count(*) from attendance 
	<where>
		memberId= #{memberId} 
		<if test="string.toString()=='two'">
		and second is not null
		</if>
		<if test="string.toString()=='three'">
		and third is not null
		</if>
		<if test="string.toString()=='four'">
		and fourth is not null
		</if>
		<if test="string.toString()=='five'">
		and fifth is not null
		</if>
	</where>
	
	</select>
	
	<insert id="UpdateEventPeanut">
	insert into peanutpoint_tbl values
	(SQN_PEANUT_NO.nextval,sysdate,+5,'Y',null,null,#{memberId},'출석이벤트성공',null)
	</insert>
	
	
	 
</mapper>