<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NewsMapper">
	<resultMap type="News" id="newsResultMap">
		<id property="newsNo" column="NEWS_NO"/> <!-- 알림 번호 -->
		<result property="memberId" column="MEMBER_ID"/> <!-- 회원 아이디 -->
		<result property="newsContents" column="NEWS_CONTENTS"/> <!-- 알림 내용 -->
		<result property="refBookNo" column="REF_BOOK_NO"/> <!-- 참고 도서 번호 -->
		<result property="readYN" column="READ_YN"/> <!-- 알림 읽음 여부 -->
		<result property="newsType" column="NEWS_TYPE"/> <!-- 알림 종류 -->
		<result property="sendDate" column="SEND_DATE"/> <!-- 알림 발송일 -->
	</resultMap>
	<!-- 내 알림 등록(내 서재 등록 도서 신작 알림) -->
 	<insert id="insertNews">
		INSERT INTO NEWS_TBL VALUES(NEWS_SEQ.NEXTVAL, #{memberId}, #{newsContents}, #{refBookNo}, DEFAULT, 'my', SYSDATE)
	</insert>
	<!-- 알림 목록 조회 -->
	<select id="selectNewsList" resultMap="newsResultMap">
		SELECT * FROM NEWS_TBL WHERE MEMBER_ID = #{memberId} ORDER BY NEWS_NO DESC
	</select>
	<!-- 알림 삭제 -->
	<delete id="deleteNews">
		DELETE FROM NEWS_TBL WHERE NEWS_NO = #{newsNo}
	</delete>
	<select id="countNews" resultType="_int">
		SELECT COUNT(*) FROM NEWS_TBL WHERE MEMBER_ID = #{memberId} AND READ_YN = 'N'
	</select>
	<update id="updateNewsStatus">
		UPDATE NEWS_TBL SET READ_YN = 'Y' WHERE NEWS_NO = #{newsNo}
	</update>
 	<insert id="insertEventNews">
		INSERT INTO NEWS_TBL VALUES(NEWS_SEQ.NEXTVAL, #{memberId}, #{newsContents}, NULL, DEFAULT, 'event', SYSDATE)
	</insert>
	<select id="checkEventExist" resultType="_int">
		SELECT COUNT(*) FROM NEWS_TBL WHERE MEMBER_ID = #{memberId} AND NEWS_TYPE = 'event' AND TO_CHAR(SEND_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	</select>
	
 	<resultMap type="Library" id="libraryResultMap">
 		<id column="MEMBER_ID" property="memberId" />
 		<result column="BOOK_NO" property="bookNo" />
 		<result column="CATEGORY" property="category" />
 		<result column="LIBRARY_NO" property="libraryNo" />
 		<result column="title" property="bookTitle" />
 		<result column="picName" property="picName" />
 	</resultMap>
	<!-- 해당 도서가 저장된 아이디 리스트 가져오기 -->
	<select id="selectMemberIdByBookNo" resultMap="libraryResultMap">
		SELECT MEMBER_ID FROM LIBRARY WHERE CATEGORY = 'origin' AND BOOK_NO = #{bookNo}
	</select>
	
	<resultMap type="OriginBook" id="oriBookResultMap">
		<id property="bookNo" column="ORI_BOOK_NO"/>
		<result property="bookTitle" column="BOOK_TITLE"/>
		<result property="bookInfo" column="BOOK_INFO"/>
		<result property="category" column="CATEGORY"/>
		<result property="insertDate" column="INSERT_DATE"/>
		<result property="cover" column="CORVER"/>
		<result property="coverRename" column="CORVER_RENAME"/>
		<result property="status" column="STATUS"/>
		<result property="score" column="SCORE"/>
		<result property="viewCount" column="VIEW_COUNT"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="checkPermission" column="BOOK_PERMISSION"/>
		<result property="scoreCount" column="SCORE_COUNT"/>
		<result property="memberNickName" column="M_NICKNAME"/>
	</resultMap>
	<!-- 도서 번호로 도서 제목 가져오기 -->
	<select id="selectBookTitleByNo" resultMap="oriBookResultMap">
		SELECT BOOK_TITLE FROM ORIGIN_BOOK WHERE ORI_BOOK_NO = #{bookNo}
	</select>
	 
	<resultMap type="Attendance" id="AttendanceResultMap"></resultMap>
	<!-- 회원 출석 여부 -->
	<select id="checkAttendExist" resultType="_int">
		SELECT COUNT(*) FROM ATTENDANCE WHERE MEMBERID = #{memberId} and
		(to_char(FIRST,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') or
		to_char(SECOND,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') or
		to_char(THIRD,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') or
		to_char(FOURTH,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') or
		to_char(FIFTH,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD'))
	</select>
</mapper>