<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnaMapper">
	<resultMap type="Qna" id="qnaResultMap">
		<id column="QNA_NO" property="qnaNo" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="QNA_CATEGORY" property="qnaCategory" />
		<result column="QNA_TITLE" property="qnaTitle" />
		<result column="QNA_CONTENTS" property="qnaContents" />
		<result column="QNA_CREATEDATE" property="qCreateDate" />
		<result column="QNA_UPDATEDATE" property="qUpdateDate" />
		<result column="QNA_STATUS" property="qnaStatus" />
		<result column="QNA_FILENAME01" property="qnaFilename01" />
		<result column="QNA_FILERENAME01" property="qnaFileRename01" />
		<result column="QNA_FILEPATH01" property="qnaFilepath01" />
		<result column="QNA_FILENAME02" property="qnaFilename02" />
		<result column="QNA_FILERENAME02" property="qnaFileRename02" />
		<result column="QNA_FILEPATH02" property="qnaFilepath02" />
		<result column="QNA_FILENAME03" property="qnaFilename03" />
		<result column="QNA_FILERENAME03" property="qnaFileRename03" />
		<result column="QNA_FILEPATH03" property="qnaFilepath03" />
		<result column="ANSWER_WRITER" property="answerWriter" />
		<result column="ANSWER_CONTENTS" property="answerContents" />
		<result column="ANSWER_CREATEDATE" property="aCreateDate" />
		<result column="ANSWER_UPDATEDATE" property="aUpdateDate" />
	</resultMap>
	<insert id="insertQna">
		INSERT INTO QNA_TBL
		values(SEQ_QNA.nextval, #{memberId}, #{qnaCategory}, #{qnaTitle}
		, #{qnaContents}, default, null, default
		, #{qnaFilename01},#{qnaFileRename01},#{qnaFilepath01}
		, #{qnaFilename02},#{qnaFileRename02},#{qnaFilepath02}
		, #{qnaFilename03},#{qnaFileRename03},#{qnaFilepath03}
		, null, null, null, null)
	</insert>
	<delete id="deleteOneByNo">
		DELETE FROM QNA_TBL WHERE QNA_NO = #{qnaNo}
	</delete>
	<update id="updateOneQna">
		UPDATE QNA_TBL SET QNA_CATEGORY = #{qnaCategory}, QNA_TITLE = #{qnaTitle}
		, QNA_CONTENTS = #{qnaContents}, QNA_UPDATEDATE = DEFAULT
		, QNA_FILENAME01 = #{qnaFilename01}, QNA_FILERENAME01 = #{qnaFileRename01}, QNA_FILEPATH01 = #{qnaFilepath01}
		, QNA_FILENAME02 = #{qnaFilename02}, QNA_FILERENAME02 = #{qnaFileRename02}, QNA_FILEPATH02 = #{qnaFilepath02}
		, QNA_FILENAME03 = #{qnaFilename03}, QNA_FILERENAME03 = #{qnaFileRename03}, QNA_FILEPATH03 = #{qnaFilepath03}
		WHERE QNA_NO = #{qnaNo}
	</update>
	<update id="insertAnswer">
		UPDATE QNA_TBL SET QNA_STATUS = 'Y', ANSWER_WRITER = #{answerWriter}, ANSWER_CONTENTS = #{answerContents}
		, ANSWER_CREATEDATE = DEFAULT
		WHERE QNA_NO = #{qnaNo}
	</update>
	<!-- 회원별 총문의게시글 갯수 -->
	<select id="selectMemberQnaCount" resultType="_int">
		SELECT COUNT(*) FROM QNA_TBL
		<where>
			<if test="searchCondition.toString() == 'title'">
				QNA_TITLE LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				QNA_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				QNA_TITLE LIKE '%'||#{searchValue}||'%'
				OR QNA_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
			AND MEMBER_ID=#{memberId}
		</where>
	</select>
	<!-- 관리자 전체문의글 갯수 -->
	<select id="selectAllQnaCount" resultType="_int">
		SELECT COUNT(*) FROM QNA_TBL
		<where>
			<if test="searchCondition.toString() == 'title'">
				QNA_TITLE LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				QNA_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				QNA_TITLE LIKE '%'||#{searchValue}||'%'
				OR QNA_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
		</where>
	</select>
	<!-- 회원별 qna게시판 리스트 페이징 -->
	<select id="selectMemberQna" resultMap="qnaResultMap">
		SELECT * FROM QNA_TBL WHERE MEMBER_ID = #{memberId} ORDER BY QNA_NO DESC
	</select>
	<select id="selectOneByNo" resultMap="qnaResultMap">
 			SELECT * FROM QNA_TBL WHERE QNA_NO = #{qnaNo}
 	</select>
 	<!-- 회원별 상세검색 페이지 출력 -->
 	<select id="selectMemberByValue" resultMap="qnaResultMap">
 		SELECT * FROM QNA_TBL
 		<where>
 			<if test="searchCondition.toString() == 'title'">
 				QNA_TITLE LIKE '%'||#{searchValue}||'%'
 			</if>
 			<if test="searchCondition.toString() == 'contents'">
 				QNA_CONTENTS LIKE '%'||#{searchValue}||'%'
 			</if>
 			<if test="searchCondition.toString() == 'all'">
 				QNA_TITLE LIKE '%'||#{searchValue}||'%'
 				OR QNA_CONTENTS LIKE '%'||#{searchValue}||'%'
 			</if>
 			AND MEMBER_ID=#{memberId}
 		</where>
 	</select>
 	<!-- 관리자 상세검색 페이지 출력 -->
 	<select id="selectAllByValue" resultMap="qnaResultMap">
 		SELECT * FROM QNA_TBL
 		<where>
 			<if test="searchCondition.toString() == 'name'">
 				MEMBER_ID LIKE '%'||#{searchValue}||'%'
 			</if>
 			<if test="searchCondition.toString() == 'title'">
 				QNA_TITLE LIKE '%'||#{searchValue}||'%'
 			</if>
 			<if test="searchCondition.toString() == 'contents'">
 				QNA_CONTENTS LIKE '%'||#{searchValue}||'%'
 			</if>
 			<if test="searchCondition.toString() == 'all'">
 				MEMBER_ID LIKE '%'||#{searchValue}||'%'
 				OR QNA_TITLE LIKE '%'||#{searchValue}||'%'
 				OR QNA_CONTENTS LIKE '%'||#{searchValue}||'%'
 			</if>
 		</where>
 	</select>
 	<!-- 관리자 총게시물 리스트 페이징 -->
 	<select id="selectAllQna" resultMap="qnaResultMap">
 		SELECT * FROM QNA_TBL ORDER BY QNA_NO DESC
 	</select>
 	<!-- 관리자 게시물 카테고리별 리스트 -->
 	<select id="selectAllCategory" resultMap="qnaResultMap">
		SELECT * FROM QNA_TBL WHERE QNA_CATEGORY=#{qnaCategory} ORDER BY QNA_NO DESC
	</select>
</mapper> 