<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 만약에 null 데이터가 전달되었으면 빈칸이 아닌 NULL로 인식하도록 설정 -->
	</settings>
	<typeAliases>
	
		<!--은정꺼  -->
		<typeAlias type="com.books.peanut.consult.domain.ConsultServer" alias="ConsultServer" />
		<typeAlias type="com.books.peanut.consult.domain.Consult" alias="Consult" />
		<typeAlias type="com.books.peanut.consult.domain.SwitchChat" alias="SwitchChat" />

		<typeAlias type="com.books.peanut.pay.domain.SeasonTicket" alias="SeasonTicket" />
		<typeAlias type="com.books.peanut.pay.domain.Pay" alias="Pay" />
		<typeAlias type="com.books.peanut.pay.domain.WriterPay" alias="WriterPay" />
		<typeAlias type="com.books.peanut.pay.domain.PeanutPoint" alias="PeanutPoint" />
		<!--은정꺼 끝  -->
		
		<typeAlias type="com.books.peanut.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="com.books.peanut.qna.domain.Qna" alias="Qna"/>
		<typeAlias type="com.books.peanut.admin.bookApprove.domain.BookApprove" alias="BookApprove"/>
		<typeAlias type="com.books.peanut.member.domain.Member" alias="Member"/>
			
		<typeAlias type="com.books.peanut.book.domain.WriterProfile" alias="writerProfile"/>
		<typeAlias type="com.books.peanut.book.domain.OriginBook" alias="OriginBook"/>
		<typeAlias type="com.books.peanut.book.domain.OriginBookSeries" alias="OriginBookSeries"/>
		<typeAlias type="com.books.peanut.book.domain.HashTag" alias="HashTag"/>
		
		<typeAlias type="com.books.peanut.book.domain.OriginBookReply" alias="OriginBookReply"/>
		<typeAlias type="com.books.peanut.book.domain.NormalBookSeries" alias="NormalBookSeries"/>
		<typeAlias type="com.books.peanut.book.domain.NormalBook" alias="NormalBook"/>
		<typeAlias type="com.books.peanut.book.domain.NormalBookReply" alias="NormalBookReply"/>
		
	</typeAliases>


<mappers>
	<mapper resource="/mappers/originbook-mapper.xml"/>
	<mapper resource="/mappers/writer-mapper.xml"/>
	<mapper resource="/mappers/bookReply-mapper.xml"/>
	<mapper resource="/mappers/bookAdmin-mapper.xml"/>
	
	<!--은정꺼  -->
	<mapper resource="/mappers/consult-mapper.xml" />
	<mapper resource="/mappers/payPoint-mapper.xml" />
	<!--은정꺼 끝  -->

	<mapper resource="/mappers/notice-mapper.xml"/>
	<mapper resource="/mappers/qna-mapper.xml"/>
	<mapper resource="/mappers/bookApprove-mapper.xml"/>
	<mapper resource="/mappers/member-mapper.xml"/>

	</mappers>
</configuration>