@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

main {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  
  }
  
  .searchTerm {
    width: 80%;
    border: 1px solid lightgray;
    border-right: none;
    padding: 5px;
    height: 2.1rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #FFD384;
    font-size: 0.8rem;
    margin-top:0.7rem;
  }
  
  #serchbar-area{
  
  }
  .searchTerm:focus {
    color: black;
  }
  
  .searchButton {
    width: 40px;
    height: 1.5rem;
    border: 1px solid lightgray;
    background-color: lightgray;
    padding-top: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    padding-top: 2rem;
    position: relative;
    margin-top:0.7rem;
  
  }
  
  #category{
  height : 2rem;
  margin-top:0.7rem;
  margin-left : 0.2rem;
  font-size:0.8rem;
  }
  
  #searchbar {
  display: flex;
 
  }
  .bi-search {
    position: absolute;
    top: 15%;
    left:20%;
  }

  #serch-category{
    font-size: 0.8rem;
    margin-top:1rem;

  }
.tagbax:hover{
	cursor : pointer;
	background-color:#FFD384;
	border : 1px solid #FF884B;
	transition:0.2s;
}
  .area-title{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 1rem 0;
  }
  .tagbax{
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0.5rem;
    display: inline-block;
    transition:0.2s;
  }
  #tagbox-area{
    width: 100%;
    text-align: center;
  }

  main .card-body{
    padding-bottom: 0;
  }

  #category-one .col-md-4{
    overflow: hidden;
    height: 10rem;
  }
  
  #category-one .col-md-4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .cate-area-title{
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;

  }
  
  @media(max-width:500px){
  
    .tagbax{
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem 0.2rem;
    display: inline-block;
  }
  
  #serchCate{
   font-size:1rem;
  }
  
  
  }