@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

main {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/**팝업영역*/
#popUp{
	display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0,0,0,.8);
    outline: 0;
   
}

.iconArea:hover , #cDown:hover{
	cursor:pointer;
}

#popContents{
	background-color: white;
	width:20rem;
	height:10rem;
	border-radius: 0.5rem;
}

#cDown{
	height:30%;
	background-color: #FFD384;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
    display: flex;
  	justify-content: center;
    align-items: center;
     font-weight: bolder;
   }
#cUp{
	
	height:70%;
	margin : 0 0.5rem;
	
}

.iconArea{
	 display: flex;
  	justify-content: center;
    align-items: center;
	width:25%;	
	flex-wrap: wrap;
    align-content: center;
  
}

.iconArea img{
	max-width: 100%;
}

.icon-text{
	font-size:0.8em;
	 font-weight: bolder;

}

/**팝업영역종료*/


.rereply:hover{
	cursor:pointer;
}

.userbutton>div>div{
	cursor:pointer;
}

.star-score:hover:not(#avr-score), .star-score span:hover{
	cursor: pointer;
	
} 

#info-article {
	margin: 2rem;
	justify-content: center;
}

main .img-area {
	width: 25rem;
	height: 30rem;
	border-radius: 0.5rem;
}

main .img-area img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
	box-shadow: 10px 10px 22px 10px gray;
}

#page {
	text-align: center;
	font-weight: 600;
}

#page>small:not(.nowPage) {
	display: inline-block;
	width: 1rem;
	margin-right: 0.5rem;
	background-color: lightgray;
	border-radius: 100rem;
	margin-top: 0.5rem;
	transition: 0.2s;
}

#page span {
	display: inline-block;
	width: 3rem;
	margin-right: 0.5rem;
	background-color: lightgray;
	border-radius: 100rem;
	margin-top: 0.5rem;
	transition: 0.2s;
}

#page>small:hover:not(.nowPage) {
	cursor: pointer;
	background-color: #FFD384;
	width: 3rem;
	transition: 0.2s;
}

#page span:hover {
	cursor: pointer;
	background-color: #FFD384;
	transition: 0.5s;
}

.nowPage {
	background-color: #FFD384;
	display: inline-block;
	width: 3rem;
	margin-right: 0.5rem;
	border-radius: 100rem;
	margin-top: 0.5rem;
}

main .userbutton a {
	display: inline-block;
	width: 100%;
	hegiht: 100%;
}

.info-area {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#title {
	font-size: 2rem;
}

#bookopenbutton {
	background: linear-gradient(-45deg, #FFD384, #FF884B, #FF884B, #FF577F);
   background-size: 400% 400%;	
	border: 0;
	width: 100%;
	height: 5rem;
	border-radius: 0.5rem;
	
	color:white;

}

#bookopenbutton:hover {
  
	background: linear-gradient(-45deg, #FFD384, #FF884B, #FF884B, #FF577F);
   background-size: 400% 400%;
   animation: gradient 2s ease-out forwards;
	
	
}

@keyframes gradient {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

.openbutton{
	width: 60%;
}

.userbutton .row {
	background-color:;
	border-radius: 0.5rem;
	width: 60%;
	text-align: center;
	transition: 0.2s;
	border:1px solid black;
}

.userbutton .row div:hover {
	background-color: #FFD384;
	transition: 0.5s;
}

.userbutton .row div:nth-child(1):hover {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5em;
}

.userbutton .row div:nth-child(3):hover {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5em;
}

.userbutton .row div:not(.userbutton .row div:nth-child(3)) {
	border-right: 1px solid gray;
}

.userbutton {
	display: flex;
	justify-content: center;
}

.info-area div:not(.userbutton div) {
	margin-top: 2rem;
}

.tag {
	font-weight: bold;
}

.userbutton img {
	width: 2rem;
	height: 2rem;
}

.userbutton .col-4 {
	padding: 0.5rem 0;
	font-size: 0.8rem;
}

#plusbutton button {
	border: 0;
	width: 10rem;
	height: 3rem;
	border-radius: 0.5rem;
}

.sub-title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.sub-info {
	background-color: rgb(236, 236, 236);
	padding: 1.5rem;
	border-radius: 0.5rem;
	margin: 1rem !important;
}

.sub-info li {
	margin: 0.5rem;
}

.sub-info li button {
	font-size: 0.8rem;
	border: 0;
	background-color: lightgray;
}

#reply-area {
	margin-top: 2rem;
}

.star-area-1 {
	border-right: 1px solid gray;
}

.star-area-1, .star-area-2 {
	text-align: center;
}

.star-title {
	font-size: 1.2rem;
	font-weight: bolder;
}

@font-face {
	font-family: 'ONE-Mobile-POP';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.star-score {
	font-family: 'ONE-Mobile-POP';
	font-size: 3rem;
	color: #FFD384;
}

.reply .card {
	box-shadow: 3px 3px 3px 2px #e9ecef;
	border-radius: 4px;
}

.username {
	font-weight: bolder;
}

.date {
	text-align: right;
}


.img-area{
	position:relative;
	
}
.inner{
	width:2rem;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1rem;
    background: linear-gradient(90deg,rgba(0,0,0,.05),rgba(0,0,0,.05) .01%,rgba(0,0,0,.05) 5.97%,hsla(0,0%,100%,.3) 15.89%,hsla(0,0%,100%,0) 28.19%,rgba(0,0,0,.05) 0,rgba(0,0,0,.0277927) 46.96%,hsla(0,0%,100%,0) 47.51%,hsla(0,0%,100%,.1) 54.14%,hsla(0,0%,100%,0));
}

#reply-text {
	width: 100%;
}

#reply-button {
	width: 100%;
	height: 100%;
	border: 0;
	background-color: rgb(236, 236, 236);
	border-radius: 0.5rem;
	transition: 0.2s;
}

#reply-button:hover {
	background-color: #FFD384;
	transition: 0.5s;
}

#reply-button1, #reply-button2 {
	width: 100%;
	height: 50%;
	border: 0; background-color : rgb( 236, 236, 236);
	border-radius: 0.5rem;
	background-color: rgb(236, 236, 236);
	transition: 0.2s;
}

#reply-button2 {
	margin-top: 0.2rem;
	transition: 0.2s;
}

#reply-button1:hover, #reply-button2:hover {
	background-color: #FFD384;
	transition: 0.5s;
}

.reply-button-area {
	padding: 0.2rem 0 0.5rem 0;
}

.view-relply .col-md-11 {
	padding: 0.2rem 0 0.2rem 0;
}

#listbutton {
	text-align: center;
}

#listbutton button {
	width: 50%;
	height: 3rem;
	border: 0;
	border-radius: 0.5rem;
	transition: 0.2s;
}

#listbutton button:hover {
	background-color: #FFD384;
	transition: 0.5s;
}

.modify-del-button small:hover {
	cursor: pointer;
}

@media ( max-width :500px) {
	.userbutton .row {
		width: 100%;
	}
	.star-title {
		font-size: 1rem;
		font-weight: bolder;
	}
	.star-score {
		font-size: 3rem;
	}
	.sub-info {
		padding: 0.5rem;
	}
	.star-area-1 {
		border-right: 0;
		border-bottom: 1px solid gray;
		margin-bottom: 0.5rem;
	}
	.img-area {
		height: 23rem !important;
		width: 100%;
		overflow: hidden;
	}
	
	main .img-area img {
		box-shadow: 1px 1px 1px 1px gray;	
	}
	
	#page>small:not(.nowPage), #page span {
		width: 1.5rem;
	}
	.nowPage {
		width: 2.5rem;
	}
	
	
	#plusbutton button {
		border: 0;
		width: 5rem;
		height: 3rem;
		border-radius: 0.5rem;
		font-size:0.7rem;
	
	}
}

/*별점주기 스타일*/
.star-fill{
	display:none;
}




