@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


main {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
body{
    margin: 0;
}

#header-area{

    width: 100%;
    height: 35rem;
    --background-image: linear-gradient(
        to bottom,
        rgba(232, 232, 232, 0),
        rgba(255, 255, 255, 1)),url('/resources/img/main/sailboat-g9d3a88421_1920.jpg');
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-content: center;
    align-items: flex-end;
    justify-content: center;

}



#main-text{
    --padding-top: 10rem;
    width: 65%;
    margin-bottom:5rem;
}

#title-area{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;

}
#step-title{
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

#next-button-area img{
	width : 2rem;
	hight: auto;
	margin-right:0.5rem;
}

#next-button-area img:hover{
	cursor:pointer;
}

#next-button-area{
	position:fixed;
	bottom: 0;
    z-index:99;
    text-align: right;
    background:white;
    padding-bottom:0.7rem;
	width:100%;
	padding-top:0.5rem;
	border-top : 1px solid lightgray;
	

}
#book-button{
	margin-bottom:0.2rem;
}

hr{
	margin:0;
	padding:0;
	padding-bottom:0.5rem;
}
@media (max-width:500px) {
    #header-area{
        background-position: top center;
    }
    #main-text{
        width:auto;
    }
	#next-button-area{
		 text-align: center;
	}
	
	#next-button-area img{
		width:2rem;
		margin-right:6%;
		margin-left:6%
	}
	#header-area{
		height: 15rem;
	}
    
}

#One{
	position:relative;
	z-index:20;
	background-color:white;
	padding-bottom:3rem;
}

#two{
	position:absolute;
	width:100%;
	top:0;
	opacity:1;
	z-index:10 ;
	background-color:white;
}



/* rotate fall */

.pt-page-rotateFall {
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	animation: rotateFall 1s both ease-in;
}


@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); transform: translateY(100%) rotateZ(17deg); }
}

@keyframes scaleUp {
	from { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

