main{

    background-image: url('/resources/img/book/eventBack.png');
    background-size: cover;
    background-repeat: no-repeat;

}

footer{
	background-color:white;
	margin-top:5% !important;
}


#evenImg{
    --position: relative;
}

@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#eventText{
    position:absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    font-family: 'HSSaemaul-Regular';
    font-size: 3rem;
    
}


#main{
   
    text-align: center;
    position: relative;
}

#main img{
    max-width: 100%;
}



#peanutCheck{
    position:absolute;
    top:10%;
    left:30%;
}

#peanut-area{
    position: relative;
    max-width: 100%;
}

--#peanut-area{animation: scaledown 2s forwards ;}
@keyframes scaledown{
    0%{transform: scale(0);
        opacity: 1;}
    100%{transform: scale(3);
        opacity: 0;}
}


@media (max-width:500px) 
{
   #main>img{
    width:100%
    
   }

   #eventText{
    top: 40%;

    font-size: 1.5em;
    
    }

    
}