@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

main {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  padding-top: 6rem !important;

}



.detailImg{
    width: 20rem;
    height: 20rem;
    background-image:url('/resources/img/book/icons8-cat-profile-96.png');
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 200px;
    object-fit: cover;
    border: 1px solid white;
}

.align-items-center{
    position: relative;

}

#camera{
    position: absolute;
    left: 17rem;
    top:17rem;
    width: 3rem;
    height: 3rem;
}
#camera:hover, #camera1:hover{
	cursor:pointer;
}

.headerimg{
    width: 100%;
    height: 10rem;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover; 
      object-fit: cover;
    border: 1px solid white;
}



#camera1{
    position: absolute;
    left: 95%;
    top:7rem;
    width: 3rem;
    height: 3rem;
}

#profile{
    margin: 5rem;
}

#name{
    font-size: 2rem;
    margin: 1rem;
}

#wirter-text textarea{
    width: 100%;
}


#wirter-text button{
    width: 100%;
    border: 0;
    border-radius: 0.5rem;
    height: 2rem;
}

@media (max-width:500px) {
    
    #camera1{
        left: 0%; 
        width: 4rem;
        height: 4rem;

    }

    #camera{
        position: absolute;
        left: 15rem;
        top:17rem;
        width: 4rem;
        height: 4rem;
    }
    
    #profile{
        margin: 0 !important;
    }
    
}

/*사진 교체용 툴팁*/

#profilePicMenu{
	position:absolute;
	left:45%;
	bottom: 3rem;
	background-color: rgba(0,0,0,0.6);
	height:5rem;
	transition:2rem;
	padding:0.8rem;
	border-radius:0.5rem;
	text-align:center;
	color:white;
	
}
#menu1,#menu2{
	padding: 0.2rem 0;
	text-align:center;
	
}
#menu1:hover,#menu2:hover{
	font-weight:700;
	cursor:pointer;
}

#picParent{
	position:relative;
}


@media (max-width:500px) {
   #profilePicMenu{
   left:65%;
   }
   
    }

@keyframes ontext{
    0%{
        opacity: 0%;
        transform: translateY(5rem);

    }
    100%{
        opacity: 100%;
        transform: translateY(0rem);
    }
}

@keyframes Rontext{
    0%{
        opacity: 100%;
        transform: translateY(0rem);

    }
    100%{
        opacity: 0%;
        transform: translateY(5rem);
    }
}
