@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
 body{
     width: 100%;
     height: auto;
     margin: 0px; 
     padding: 0px;  
     text-decoration: none;
     list-style: none;
     background-color: #fff;
     font-family: 'Noto Sans KR', sans-serif;
 }
.btn {
	  appearance: none;
	    -webkit-appearance: none;
	  font-family: sans-serif;
	  cursor: pointer;
	  padding: 12px;
	  min-width: 150px;
	  border: none;
	    -webkit-transition: background-color 100ms linear;
	    -ms-transition: background-color 100ms linear;
	     transition: background-color 100ms linear;
	}
.mainUl {
	list-style-type: none;
	padding: 0px;
}

.mainLi {
	display: inline-block;
	margin-left: 18px;
	margin-right: 18px;
	font-size: 18px;
	/* font-weight: bold; */
}
#colText{
	padding-top: 0.7rem;
}
 #page-area {
	font-size: 0.8rem;
	font-weight: bolder;
	text-align:center;
}

#page-area span{
	border-radius: 0.5rem;
	line-height:2rem;
	
}

.pageNow, .pages{
	display: inline-block;
	width: 3rem;
	height: 2rem;
	transition: 0.2s;
	
}
.pages{
	background-color:#FFD384;
	transition: 0.2s;	
}
.pageNow, .pages:hover{
	background-color:#FF884B;
	color:white;
	transition : 0.2s;
}
.prev{
	background-color:#FFD384;
	transition: 0.2s;	
}
.prev, .next {
	display: inline-block;
	width: 3rem;
	height: 2rem;
	transition: 0.2s;
}
.prev, .next {
	background-color:#FF884B;
	color:white;
	transition : 0.2s;
}
   .pages a {
	width:100%;
	height:100%;
	display:inline-block;
} 