@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
 body{
     width: 100%;
     height: auto;
     margin: 0%;   
     background-color: #fff;
     font-family: 'Noto Sans KR', sans-serif;
 }
 main{
 	width:1000px; 	
 	margin:0 auto;
 	padding-top:8rem;
 	
}
/* 제목라인 시작 */
#h {
	margin: 0 auto;
	text-align: center;
}

#title {
	width: 100%;
	height: 45px;;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #5e5e5e;
	color: white;
}
 /*제목라인 끝  */
 
 /*검색창  */
select {
	background: url("/resources/img/caret-down-fill.svg") no-repeat 95% 50%; 
	border-radius: 0px; 
	
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
	}
	
	select::-ms-expand {
	        display: none;
	    }
/* 검색창 꾸미기 */
#searchbtn,#markZone{
  display:flex;
  justify-content: center;
  width: 100%;
  height: 2rem;  
  font-family: 'Noto Sans KR', sans-serif;   
  margin-top: 1em;
}

#selectPN{
  width: 200px;
  height: 100%;
  border: 1px solid grey;
  border-radius: 0.5em;
  padding-left: 13px;
}
.inputzone{
  width: 200px;
  height: 100%;
  margin-left: 10px;
  border: 1px solid grey;
  border-radius: 0.5em;
  padding-left: 13px;
}
#markpeanut{
	width: 300px;
	height: 2rem;	
}
#markZone{
	margin-bottom: 1rem;
}
.result{
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1rem;
	color: #323232;
	background-color: #FFD384;
	border:0;
	border-radius: 0.5em;
	
}

.detailBtn{
  width: 80px;
  height: 40px;
  line-height: 100%;
  border: 1px #ccc solid;
  border-radius: 0.3em;
  background-color: #ccc;
  text-align: center;
  cursor: pointer;
  color: #fff;
  transition: all 0.9s,color 0.3;
  padding-left: 2px;
}
.btnbox{  
  width: 100px;
  height: 100%;
  line-height: 100%;
  margin-left: 10px;
  border: 1px #ccc solid;
  border-radius: 0.5em;
  background-color: #ccc;
  text-align: center;
  cursor:pointer;
  color:#fff;
  transition:all 0.9s,color 0.3;
}   
  .detailBtn,#csBtn:hover{
    color: #FFF;
    box-shadow:-200px 0 0 0 rgba(0,0,0,0.5) inset;
  }
           
        
/*테이블의 숫자 버튼  */
 .numbtn{     
    background-color: #fff;
    color: #323232;	   
    align-items: center;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif; 
    width:2.5rem;
    border-color:#fff;
    border-radius:0.5em;	   	    
    height: 35px;
    box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.15);
 } 
/* 땅콩 내역 */ 
   #table{
       margin: auto;
       width:100%;            
   }
   table{            
       width: 100%;
       border-collapse: collapse;
       font-family: 'Noto Sans KR', sans-serif;
   }
   table>tr{
		width:100%;
		height:85px;
	}
	
   .tableNo{width: 7%;	}
   .tableId{width:150px;}
   .contexnts{
       width: 50%;
       height: 30px;
       font-size: 14px;      
       padding:5px;
                      }
   .peanet{
	    width: 16%;
	    text-align: center;
	    font-size: 0.8rem;
	    font-family: 'Noto Sans KR', sans-serif;  
	    background-color: #dcdcdc;
	    border : 1rem solid transparent;
	    border-radius: 0.5em;
	}
	.date{
		margin-left:10px;
        height: 10px;
        font-size: 0.8px;
        font-family: 'Noto Sans KR', sans-serif; 
        padding:5px;            
                           
    }
    .line{
        height: 10px;                   
        border-bottom: solid gainsboro;  
    }

@media ( max-width :1000px) {
	main{width:100%; margin:0 auto;}
	
 	#table{width:80%;}
	.monitercontrol {display: none;}
	
       
 @media ( max-width :400px) {
  	#title{width:100%;}
	#h{    margin-top: -2rem;}
	#spanDIV{
		width:100%;
		margin : 0 auto;
		font-size:1rem;
		padding-left:0.5rem;
	}
	#table{
		width:100%; 
		margin: 0 auto;
}
	table{
		 width:100%;
		 border:none !important;		
	 }
	 table tr{width:100%;}
	.tableNo{font-size: 0.6rem;	}
	.tableId{
		width:80px;
		font-size: 0.7rem;
	    padding-left: 0.5em;
	}
	.contexnts{
		width:180px;
		font-size:0.7rem;
		
	}
	.date{font-size:0.6rem;}
	.peanet{
		width:80px;
		font-size:0.6rem;
	}
	.monitercontrol {display: none;	}
}
	#searchbtn{width:100%;}
	#markZone{width:100%;}
}
       

/* 페이징  */
.page_wrap{
	padding-top:1rem;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pagination > a,
.pagination > span {
    background-color: #fff;
    color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 0 5px 8px;
    border-radius: 5px;
    min-width: 18px;
    padding: 0 8px;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif; 
}
.pagination > span {
    pointer-events: none;
}
.pagination svg {
    height: 23px;
    width: 23px;
}
.pagination > a.page-active:hover {
    background-color: #FFD384;
    color: #fff;
}
.pagination > a:hover {
    background-color: #FFD384;
    color: #fff;
}