@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap'); */
body {
	width: 100%;
	margin: 0%;
	background-color: #fff;
	font-family: 'Noto Sans KR', sans-serif; 
}
main{
	width: 100%;
	margin: auto;
}
#h {
	margin-top: 3rem;
}

#emptyTD {
	width: 100%;
	height: 400px;
	text-align: center;
	font-size: 30px;
}


#spanDIV {
	margin: 0 auto;
	width: 800px;
	padding-left: 20px;
	text-align: center;
}

/*테이블의 숫자 버튼  */
.numbtn {
	background-color: #fff;
	color: #323232;
	align-items: center;
	font-size: 16px;
	width: 3rem;
	margin-top:0px;
	border-color: #fff;
	border-radius: 0.5em;
	height: 40px;
	box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.15);
	font-family: 'Noto Sans KR', sans-serif;
}
.totalpeanet {
	width: 400px;
	font-size: 25px;
	font-weight: bold;
	display: inline;
	justify-content: center;
	text-align: center;
}
.contexnts {
	width: 35%;
	height: 50%;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
}

.peanet {
	width: 16%;
	text-align: center;
	font-size: x-large;
	font-weight: 800;
	background-color: #dcdcdc;
	border: 2rem solid transparent;
	border-radius: 0.5em;
}

.date {
	margin-left: 10px;
	height: 50%;
	font-size: 16px;
}

#table {
	margin: auto;
	width: 800px;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-family: 'Noto Sans KR', sans-serif;
}
table>tr{
	width:100%;
	height:85px;
}
.tableNo{
	width: 10%;
}

.line {
	height: 10px;
	border-bottom: solid gainsboro;
}

@media ( max-width :800px) {
	main{
	width:100%;
	margin : 0 auto;
	}
	.monitercontrol {
		display: none;
	}
	#table {
		width: 100%;
	}
}
@media ( max-width :400px) {
	main{
		width:100%;
		margin : 0 auto;
	}
	#h{margin-top:1rem;}
	#spanDIV{
		width:100%;
		margin : 0 auto;
		font-size:1rem;
		padding-left:0.5rem;
	}
	
	table{
		 width:100%;
		 border:none !important;
	 }
	.tableNo{font-size:1rem;}
	.contexnts{font-size:1rem;}
	.date{font-size:0.8rem;}
	.peanet{width:10%;}
}


/* 페이징  */
.page_wrap{
	padding-top:1rem;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pagination > a,
.pagination > span {
    background-color: #fff;
    color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 5px 8px;
    border-radius: 5px;
    min-width: 18px;
    padding: 0 8px;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif; 
}
.pagination > span {
    pointer-events: none;
}
.pagination svg {
    height: 24px;
    width: 24px;
}
.pagination > a.page-active:hover {
    background-color: #FFD384;
    color: #fff;
}
.pagination > a:hover {
    background-color: #FFD384;
    color: #fff;
}