@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
body{
    width: 100%;  
}

section{
    margin: 0 auto; 
    max-width: 800px;      
    display: block; 
	padding-top:7rem;
	min-height:100%;
	padding-bottom: 180px;
}
#h{
    text-align: left;  
    font-size: 1.5rem; 
    padding-bottom: 20px;
    padding-left: 4rem;    
    font-family: 'Noto Sans KR', sans-serif;  
}

table{      
    width: 100%;
    padding-top: 5px;
    padding-left: 30px;    
    border-collapse: separate!important;    
    border-spacing: 0 12px !important;
   
}

tr{
    width: 100%;    
    margin-bottom: 20px;
    margin-top: 20px;    
}

tr td:first-child {
    width: 30%;
    text-align: right;
}
  td:eq(2){
    width:70%;

  }
td input,td select{
    width: 70%;
    height: 43px;
    margin-left: 10px;
    padding-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;  
    font-size: 16px;
    border-radius: 0.5em;   
	border-color: rgb(252, 248, 248);
	box-shadow: 0 0 2px #696869 ;
}
td input{
    border-top: rgb(252, 248, 248);
    border-left: rgb(252, 248, 248);
}

td select:focus { 
    outline: none  !important; 
    border-color: #fff; box-shadow: 0 0 8px #f7a409;
}
td input:focus { 
    outline: none  !important; 
    border-color: #fff; box-shadow: 0 0 8px #f7a409;
}


 @media(max-width: 360px) {
  #h{
  	padding-left: 2rem;
  	padding-bottom: 0.5rem;
  }
  section{
  	width:100%;
  	padding-top:4.5rem;
  	}
  
  table{
  	width:100%;
  	margin:0 auto;
    padding-left: 0.5rem;

  } 
  tr td:first-child {
     font-size: 0.8rem
  }  
  td input,td select{
  	width: 80%;
  	 font-size: 1rem;
  }
  .btn{width:100%;}
  #paybtn{
	max-width: 100%;
	margin: 0 auto;
	}
}
.btn{
    width:100%;
	margin-top: 30px; 
    display:block; 
	text-align:center;		
}

#paybtn{	
	text-align:center;
    width: 400px;
    background:#FFD384;
    font-size: 1.2rem;
    font-weigth: bold;
    font-family: 'Noto Sans KR', sans-serif;   
    color: #FFF; 
    border:none;
    position:relative;    
    height:60px;    
    padding:0.2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;  
    border-radius: 0.5em !important;  
  }
  
 
  #paybtn:hover{
    background:#f7a409;
  }
  
  #paybtn:before, #paybtn:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0; 
    height: 2px;
    width: 0;
    background: #fff;
    font-weigth: bold;
    transition:400ms ease all !important;;
    font-family: 'Noto Sans KR', sans-serif  !important;
  }
  #paybtn:after{
    right:inherit;
    top:inherit; 
    left:0;
    bottom:0;
    text-align: center;
    font-size: 20px;
    font-weight: bold !important;
   
  }
  #paybtn:hover:before, #paybtn:hover:after{
    width:100%;
    transition:800ms ease all;  
  } 
  
  
